<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - Proteja-JÁ</title>
</head>
<body>
    <h1>Cadastro de Usuário</h1>

    {% if erro %}
        <p style="color: red;">{{ erro }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label>Nome:</label><br>
        <input type="text" name="nome"><br><br>

        <label>E-mail:</label><br>
        <input type="email" name="email"><br><br>

        <label>Senha:</label><br>
        <input type="password" name="senha"><br><br>

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>