<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Nova Denúncia - Proteja-JÁ</title>
</head>
<body>
    <h1>Denunciar Loja Suspeita</h1>

    {% if erro %}
        <p style="color: red;">{{ erro }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label>Nome da loja:</label><br>
        <input type="text" name="nome_loja"><br><br>

        <label>Link do site:</label><br>
        <input type="text" name="link_site"><br><br>

        <label>Motivo da denúncia:</label><br>
        <textarea name="motivo"></textarea><br><br>

        <button type="submit">Enviar Denúncia</button>
    </form>
</body>
</html>
